.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.card-category{
  background-color: rgba(240, 248, 255, 0.604);
  border: 1px solid rgba(210, 219, 226, 0.611);
}
.list-category{
  cursor: pointer;
  font-weight: bold;
}
.list-category:hover{
  color: rgb(59, 163, 59)
}
.footer-component{
  background-color: aliceblue;
  color:rgb(140, 140, 163)
}
.footer-component h4{
  color:rgb(140, 140, 163);
}
/* .foot{
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    color: white;
   
} */


@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
/* @import "../node_modules/@syncfusion/ej2-buttons/styles/material.css"; */
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.carousel-item img{
max-height: 300px;  /* change this to whatever you want */
    width: 100%;
}
/* .carousel-item{
  height: 250px;
} */
.category  :hover{
transform: scale(1.04);
cursor: pointer;
}

.footer{
  height:50%;
  width: 100%;
  background-color: black;
  
}
.register-form{
 background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(189, 139, 139));

}

.createButton{
  width: 100%!important;
  margin-bottom: 50px;
 
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer{
  width: 100%;
  height: 20vh;
  position: relative;
  bottom: 0px;
}
.cart_button{
  border-radius: 10px!important;
  background-color: turquoise!important;
}
